* {box-sizing: border-box}

body{
  background-color: #eee;
  padding: 0;
  margin: 0;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.navigation-bar{
  width: 100vw;
  background-color: #333;
  padding: 0;
  margin: 0;
  position: fixed;
  top: 0;
}

nav{
  padding: 0 50px;
}

.nav-links {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  text-align: center;
  display:inline-block;
  vertical-align:top;
}

.nav-link{
  float: left;
}

.nav-link a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

#logo{
  margin: 0 50px;
}

.nav-link a:hover:not(.active) {
  background-color: #111;
}

.active {
  background-color: #742063;
}
   



/* Contact us  */

input[type=text], select, textarea {
  width: 100%; /* Full width */
  padding: 12px; /* Some padding */ 
  border: 1px solid #ccc; /* Gray border */
  border-radius: 4px; /* Rounded borders */
  box-sizing: border-box; /* Make sure that padding and width stays in place */
  margin-top: 6px; /* Add a top margin */
  margin-bottom: 16px; /* Bottom margin */
  resize: vertical; /* Allow the user to vertically resize the textarea (not horizontally) */
background-color: #eee;
}

/* Style the submit button with a specific background color etc */
input[type=submit] {
  background-color: #742063;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

/* When moving the mouse over the submit button, add a darker green color */
input[type=submit]:hover {
  background-color: #111;
}

/* Add a background color and some padding around the form */
.grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  border-radius: 5px;
  background-color: #dedede;
  padding: 20px;
  width: 100%;
  margin: 20px auto;
}

.container{
  border-radius: 5px;
  background-color: #dedede;
  padding: 20px;
  width: 60%;
  margin: 20px auto;
}

iframe{
  width: 60%;
  height: 500px;
}