<style>
.About{
  
  margin-top: -40px;
  margin-bottom: 10px;
  margin-right: 350px;
  margin-left: 350px;
  font-size: 22px;
  }
  .head {
  text-align: center;
  font-size: 30px;
  margin-bottom: 30px;
  margin-top: -40px;
}

.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  padding-bottom:-20px;
  width: 100%;
  background-color: #742063;
  color: white;
  text-align: center;
   margin-bottom: 0px;
}
</style>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="../styles/app.css">

    <title>About</title>
</head>
<body>

<div class="navigation-bar">
    <nav>
        <img src="../logo.png" id="logo"  alt="Ul survival guide" style="width:45px; height:45px; position:relative;">
        <ul class="nav-links">
            <li class="nav-link"><a  href="../index.html">Home</a></li>
            <li class="nav-link"><a  href="../templates/survival-guide.html">Survival Guide</a></li>
            <li class="nav-link"><a class="active" href="../templates/about.html">About</a></li>
            <li class="nav-link"><a href="../templates/contact-us.html">Contact Us</a></li>
        </ul>
    </nav>
</div>
    
    <div class="head">
  
  
<h1 style=" margin-top: 100px;color: #742063 "> About</h1>


<div class="About">
	<p>Here at UL Survival Guide we strive to make the lives of our fellow UL members feel at home and most importantly to help incoming first year students have a smooth transition into University life.
The members here a UL Survival Guide have first hand knowledge and expeience of the student life experience and have compiled a list of the most valuable tips and tricks to make your life easier.
At UL Survival Guide we believe there is a better way to experince the student lifestyle, and with the help from our experienced members we will have you living life in the fast lane, being able
to deal with whatever situation is thrown at you, and giving you the necesssary tips and tricks to get you living your most optimal lifestyle.</p> 
</div>
<iframe src="https://www.youtube.com/embed/Vg789B23vxU" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen>
</iframe>
</div>

<div class="footer">
  <footer> UL survival Guide </footer>
</div>	
</body>
</html>