<style>
.survival {
    margin: -50px 350px 50px;
    font-size: 22px;
  }
  .head {
  text-align: center;
  font-size: 30px;
  margin-bottom: 0;
  margin-top: -40px;
}
.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  padding-bottom:-20px;
  width: 100%;
  background-color: #742063;
  color: white;
  text-align: center;
   margin-bottom: 0;
}
</style>


<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="../styles/app.css">

    <title>Document</title>
</head>
<body>
<div class="navigation-bar">
    <nav>
        <img src="../logo.png" id="logo"  alt="Ul survival guide" style="width:45px; height:45px; position:relative;">
        <ul class="nav-links">
            <li class="nav-link"><a  href="../index.html">Home</a></li>
            <li class="nav-link"><a class="active" href="../templates/survival-guide.html">Survival Guide</a></li>
            <li class="nav-link"><a href="../templates/about.html">About</a></li>
            <li class="nav-link"><a  href="../templates/contact-us.html">Contact Us</a></li>
        </ul>
    </nav>
</div>

  <div class="head">
 <h1 style="margin-top: 100px; color: #742063"> Survival Guide </h1> </div>
<div class="survival">

<h2><b><u> Tips </b></u></h2>
  <li>In need of a hot beverage but on a budget? <br> <p>Head into the postgrade area located in the corner of the stables courtyard. They have free tea and coffee, and there's lots of welcomeing and
nice people there to help you out!</li> 
 </p>

 <li>Running low on paper?  <br> <p>
  In university of limerick they run a programme for the first 7 weeks where you can head into their hub thats just in the stables, its very easy to find it but lots
of people dont realise it there. They will give you loads of free things such as refil pads, pens, coffee cups, water bottles, usb sticks and more! This is an invaluable asset for a new
student and is a great way to save money on stationary, they also host weekly events such a a pizza, movie in the odeon, and transport for just 10 euro! It is also a great way to meet new
people.</li></p>

 <li>Need some where to chillax with some friends? <br> <p> There are some great spots in the library believe it or not, a common spot that our researchers at UL Survival Guide have found is taking the
elevator to floor 3 and in the hallway as soon as you get out there is comfy chairs and a nice area to chat and relax.</li><p>


 <li> Around UL there are many spots to buy food, but when you are on a budget or in a rush you need to know the best spots for every scenario. 
 Are you looking for a quick fix and on the go?
In spar they do chicken rolls for cheap and its perfect on the go food. </li>

If you are looking for a good wholesome healthy dinner I would recommend the Stables or Paddocks, they do great healthy food. In the stables there is also a spot over near the bar where there
is washed reusable cups beside a bucket of cold ice and a fountain. It is completely free and it saves you from buying a water bottle if you forgot to bring it in one day.

</li> 


<center><iframe width="650" height="315" align="center" src="https://www.youtube.com/embed/H8sgCEE1L2U" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe></center>

<p style="color: #DC2543"><b><u>Note:</b></u> <br> In the beginning of the first semester there is a clubs and societies recruitment drive where you can view all ul has to offer, you can also talk to the clubs organisers directly and sign up
on the spot, however i recommend not signing up at the drive but when you show up to their events/trainings. Clubs and societies are probably one of the most important things to get involved
in and a great way to get out of your comfort zones and to meet new people and make friends. </p>


<li> In terms of night life I would recommend getting to know some people from either your course or a club/society and ask them if they want to go for a drink. The best option in my opinion for
starting off is to have a few drinks in either stables or scholars before you hit the town, there is buses going all the time until 12 into town, any later and youll be having to pay for a
taxi. </li> 


    <div class="grid">
            <div class="col">
                <h2><b> Time Management</b></h2>

                <ul>
                    <li>Time management is hugely important, and a lot of your first semester/year will be trying to strike a balance between fun,work,exercise,social life and food.
                        You need to strike a balance between all of these to live a healthy and happy lifestyle while performing optimally, too much of one thing and it will have a negative impact.
                    </li>
                    <li>If your like many and have a distance to travel, often times cycling is the best way to do it. However you have to be careful where you leave your bike, luckely UL has a great facility called
                        "the bike hub", all you have to do is send an <b>email</b> to register and bingo your in. Your card will now open the bike hub which is a shelter full of bike racks and even has security cameras
                        inside, this keeps your bike safe and dry. And is the only safe spot to keep it if you forget you lock.
                    </li>
                    <li>If you are a gym goer, but you weren't lucky enough to get student accommodation. A gym membership can be expensive and a big commitment when you are only figureing things
                        out for the first time, a one time gym enter is &#8364;5.20 which is quite pricy for a student, but with our one of our tricks you can get into the gym for only &#8364;3.50 if you tell them you
                        are going for a swim! This is a great trick and works every time!
                    </li>
                </ul>
            </div>
            <div class="col">
                <img alt="" src="safeclock.png"  style=";width:400px;height:600px;" align="centre">
                <img src="../gym-image.png" alt="">
            </div>
    </div>
 </div>

 


<div class="footer">
  <footer> UL survival Guide </footer>
</div>
</body>
</html>